<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <title>Listing</title>
    <meta name="keywords" content="Books, recent, Learning, library" />
    <meta name="description" content="Books website" />
    <meta name="author" content="author name" />
    <link rel="icon" href="{% static 'qu-icon.png' %}" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'main.css' %}" />
  
  </head>
  <body>
     <h2>The Best Features of the Internet</h2>
     <ul>
        <li>You can meet new people</li>
        <li>You have access to media:
          <ul>
            <li>New Games</li>
            <li>New Appliances
              <ol>
                <li>For business</li>
                <li>For Pleasure</li>
              </ol>
            </li>
            <li>Around the clock news</li>
            <li>Search engines</li>
            <li>Shopping</li>
            <li>Programmming
              <ol>
                <li>XML</li>
                <li>Java</li>
                <li>HTML5</li>
                <li>JS</li>
                <li>New Langs</li>
              </ol>
            </li>
          </ul>
        </li>
        <li>Links</li>
        <li>Keeping in touch with friends</li>
        <li>It's tech of future</li>
     </ul>
  </body>
</html>

