<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <title>Texts Formatting</title>
    <meta name="keywords" content="Books, recent, Learning, library" />
    <meta name="description" content="Books website" />
    <meta name="author" content="author name" />
    <link rel="icon" href="{% static 'qu-icon.png' %}" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'main.css' %}" />
  
  </head>
  <body>
    <h1>Example Formatting Tags </h1>

    <p>This text has <b>subtext</b> using b tag</p>

    <p>This text has <strong>subtext</strong> using strong tag</p>

    <p>This text has <i>subtext</i> using i tag</p>

    <p>This text has <em>subtext</em> using emphasize tag</p>

    <p>This text has <small>subtext</small> using small tag</p>

    <p>This text has <marK>subtext</mark> using mark tag</p>

    <p>This text has <del>subtext</del> using del tag</p>

    <p>This text has <ins>subtext</ins> using ins tag</p>

    <p>This text has X<sub>subtext</sub> using sub tag</p>

    <p>This text has X<sup>subtext</sup> using sup tag</p>
  </body>
</html>

